<%-include("../adminLayout/adminHeader")    %>



<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: <%= orders[0].orderId %> </p>
            <input type="hidden" id="orderIdInput" value="<%= orders[0]._id %>">
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span> <i class="material-icons md-calendar_today"></i> <b><%= orders[0].createdAt.toLocaleDateString() %></b> </span> <br />
                </div>
                <% if(orders[0].orderStatus === "Cancel"){ %>
                    <p>Order Already Cancelled</p>
                    <% }else if(orders[0].orderStatus === "Pending"){ %>
                        <p>Order Payment is Pending</p>
                        <% }else if(orders[0].orderStatus === "Return"){ %>
                            <p>Order Returned</p>  
                    <% }else{ %>
                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                    <select id="status-select" class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                        <option>Change status</option>
                        <option>Shipped</option>
                        <option>Out of delivery</option>
                        <option>Delivered</option>
                        <option>Cancel</option>
                    </select>
                    <a id="save-button" class="btn btn-primary" href="">Save</a>
                </div>
                <% } %>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>

                            <p class="mb-1">
                                <%= orders[0].userId.name %><br />
                                <%= orders[0].userId.email %> <br />
                                <%= orders[0].userId.mobile %>
                            </p>
                        </div>
                    </article>
                </div>
                <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <!-- <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span> -->
                        <div class="text">
                            <!-- <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Fargo express <br />
                                Pay method: card <br />
                                Status: new
                            </p> -->
                        </div>
                    </article>
                </div>
                <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                Address: <%= orders[0].address.address %> <br />
                                City: <%= orders[0].address.city %> <br />
                                pin : <%= orders[0].address.pinCode %>
                            </p>
                     </div>
                    </article>
                </div>
                <!-- col// -->
            </div>
            <!-- row // -->
            <div class="row">
                <!-- <div class="col-lg-7"> -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders[0].products.forEach(product => { %>

                                <tr>
                                    <td>
                                        <a class="itemside" href="#">
                                            <div class="info"><%= product.productId.name %></div>
                                        </a>
                                    </td>
                                    <td><%= product.productId.price %></td>
                                    <td><%= product.quantity %></td>
                                    <td class="text-end"><%= product.total %></td>
                                </tr>
                                <% }) %>
                                <tr>
                                    <td colspan="4">
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Total:</dt>
                                                <dd><%= orders[0].totalPrice %></dd>
                                            </dl>
                                            
                                            <!-- <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd><b class="h5">$983.00</b></dd>
                                            </dl> -->
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <span class="badge rounded-pill alert-success text-success"><%= orders[0].orderStatus %></span>
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- table-responsive// -->
                
                
            </div>
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
</section>




<script>
    document.getElementById('save-button').addEventListener('click', function() {
    var selectElement = document.getElementById('status-select');
    var selectedStatus = selectElement.options[selectElement.selectedIndex].text;
    
    var orderIdElement = document.getElementById('orderIdInput');
    var orderId = orderIdElement.value;


    fetch(`/adminUpdateOrderStatus/${orderId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ status: selectedStatus })
    })
    .then(response => {
        if (response.ok) {
            console.log('Status updated successfully');
            window.location.reload();
        } else {
            console.error('Failed to update status');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
</script>


<%-include("../adminLayout/adminFooter")    %>