
<%-include("../adminLayout/adminHeader")    %>



<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Product Details</h2>
            <p> Edit ,List and Unlist a Product</p>
        </div>
        <!-- <div class="col-lg-4 col-md-6 me-auto">
            <input type="text" placeholder="Search..." class="form-control" id="filterInput" onkeyup="filterOrders()"/>
        </div> -->
        
        <div>
            <input type="text" id="searchInput" placeholder="Search by Name" class="form-control bg-white" onkeyup="searchProductName()" />

        </div>
        
        <div>
            <input type="text" id="categorySearchInput" placeholder="Search Categories" class="form-control bg-white" />
        </div>
        
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th scope="col">Products</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Offer</th>
                            <th scope="col">Action</th>
                            <th scope="col"></th>
                            <th scope="col">Offer Action</th>
                            


                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < proDetails.length; i++) { %>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            
                                            <% if (proDetails[i].productImages.length > 0) { %>
                                                <img src="/assets/products/resized/<%= proDetails[i].productImages[0] %>" alt="/uploads/<%= proDetails[i].id %>/<%= proDetails[i].productImages[0] %>" class="img-thumbnail" style="width: 50px; height: 50px;">                                            <% } %>
                                        </div>
                                    </div>
                                </td>
                    
                                <td><%= proDetails[i].name %></td>
                                <td><%= proDetails[i].category.Name %></td>
                                <!-- Find the category name based on the category ID -->
        
                                <!-- Other columns as needed -->
                                <td><%= proDetails[i].price %></td>
                                <td><%= proDetails[i].status ? 'Active' : 'Inactive' %></td>
                                 
                                <td><%= proDetails[i].quantity %></td>
                                <% if(proDetails[i].offer){%>
                                    <td><%= proDetails[i].offer.offerName %></td>
                                    <% }else if(proDetails[i].categoryOffer){ %>
                                        <td><%= proDetails[i].categoryOffer.offerName %></td>
                                    <% }else{ %>
                                        <td style="color: red;">No Offers</td>
                                        <% } %>
                                

                                        
                                <td>
                                    <form method="post" action="/admin/changeProductStatus/<%= proDetails[i]._id %>" style="display: inline-block;">
                                        <!-- Add a class 'btn-update-status' to the button for easier selection -->
                                        <button type="button" class="btn btn-sm <%= proDetails[i].status ? 'btn-danger' : 'btn-success' %> btn-update-status" data-user-id="<%= proDetails[i]._id %>">
                                            <%= proDetails[i].status ? 'Unlist' : 'List' %>
                                        </button>
        
                                    </form>   
                                </td>


                                <td>
                                        <a href="/loadEditProduct?id=<%= proDetails[i]._id %>" class="btn btn-primary btn-sm">Edit</a>
                                </td>


                                <% if(proDetails[i].status == true){%>
                                <% if(proDetails[i].offer){%>
                                    <td><button class="btn btn-danger btn-sm delete-offer-btn" data-product-id="<%= proDetails[i]._id %>">Delete</button></td>

                                    <% }else{ %>
                                <td>
                                    <a href="/loadOfferForProducts?id=<%= proDetails[i]._id %>" class="btn btn-info btn-sm">Add Offers</a>
                                </td>
                                <% } %>
                                <% }else{ %>
                                    <td><h5 class="text-danger">Unlisted</h5></td>
                                    <% } %>




                                
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul id="pagination" class="pagination justify-content-start">
                <!-- Pagination buttons will be dynamically generated here -->
            </ul>
        </nav>
    </div>



</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
$(document).on('click', '.btn-update-status', function () {
    const productId = $(this).data('user-id');

    $.ajax({
        url: `/updateStatus/${productId}`,
        method: 'PUT',
        success: function (data) {
            console.log(data.message);

            if (data.status) {
                $(this).removeClass('btn-success').addClass('btn-danger').text('Unlist');
                window.location.reload()
            } else {
                $(this).removeClass('btn-danger').addClass('btn-success').text('List');
                window.location.reload()

            }
        },
        error: function (error) {
            console.error('Error updating product status:', error.responseJSON.message);
        }
    });
});



</script>

<script>
    function searchProductName() {
    var searchValue = $('#searchInput').val().toLowerCase();

    $('tbody tr').each(function() {
        var productName = $(this).find('td:eq(1)').text().toLowerCase();

        if (productName.includes(searchValue)) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
}

</script>

<!-- search by category -->
<script>
    $(document).ready(function () {
        $('input#categorySearchInput').on('keyup', function () {
            const searchText = $(this).val().toLowerCase();
            
            $('tbody tr').each(function () {
                const category = $(this).find('td:eq(2)').text().toLowerCase(); 
                
                if (category.includes(searchText) || searchText === '') {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>

<!--pagination -->
<script>
    var itemsPerPage = 5; 
    var currentPage = 1; 
    var totalItems = '<%= proDetails.length %>'; 
    var totalPages = Math.ceil(totalItems / itemsPerPage); 

    function showPage(page) {
        $('tbody tr').hide(); 
        var startIndex = (page - 1) * itemsPerPage; 
        var endIndex = startIndex + itemsPerPage; 
        $('tbody tr').slice(startIndex, endIndex).show(); 
    }

    function generatePaginationButtons() {
        var paginationHtml = '';
        for (var i = 1; i <= totalPages; i++) {
            paginationHtml += '<li class="page-item' + (i === currentPage ? ' active' : '') + '"><a class="page-link" href="#" onclick="changePage(' + i + ')">' + i + '</a></li>';
        }
        $('#pagination').html(paginationHtml); 
    }

    // Function to handle page change
    function changePage(page) {
        currentPage = page; 
        showPage(currentPage); 
        generatePaginationButtons(); 
    }

    $(document).ready(function () {
        showPage(currentPage); 
        generatePaginationButtons(); 
    });
</script>


<!--delete offer from product list-->
<script>
    $(document).ready(function() {
        $('.delete-offer-btn').click(function() {
            var productId = $(this).data('product-id');
            if (confirm('Are you sure you want to delete this offer?')) {
                $.ajax({
                    url: '/deleteOfferFromProduct',
                    type: 'DELETE',
                    data: { productId: productId },
                    success: function(response) {
                        alert('Offer deleted successfully');
                        window.location.reload()
                    },
                    error: function(error) {
                        alert('Error deleting offer');
                    }
                });
            } else {
                alert('Operation cancelled');
            }
        });
    });
    </script>


<%-include("../adminLayout/adminFooter")    %>