
<%-include("../adminLayout/adminHeader")    %>




<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Users list</h2>
        </div> 
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" id="userNameSearchInput" placeholder="Search by Name..." class="form-control" />
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Sl no</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
  

                    <% for(var i=0;i<adminSideUserData.length;i++){ %>
                        <tr>
                            <td><%-i+1 %></td>
                            <td><b><%-adminSideUserData[i].name %></b></td>
                            <td><%-adminSideUserData[i].email %></td>
                            <td><%-adminSideUserData[i].mobile %></td>
                            <td><%-adminSideUserData[i].is_blocked %></td>
                        
                            

                            <td class="text-end">
                                <% if (adminSideUserData[i].is_blocked) { %>
                                    <a href="" data-user-id="<%- adminSideUserData[i]._id %>" id="unblock" class="btn btn-md btn-unblock rounded font-sm btn-unblock">Unblock</a>
                                <% } else { %>
                                    <a href="" data-user-id="<%- adminSideUserData[i]._id %>" id="block" class="btn btn-md btn-block rounded font-sm btn-block">Block</a>
                                <% } %>
                            </td>
                    </tr>
                     
                        <% } %>
      
                    </tbody>
                </table>
                <!-- table-responsive.// -->
            </div>
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log('loaded');

        const blockButtons = document.querySelectorAll('.btn-block');
        const unblockButtons = document.querySelectorAll('.btn-unblock');

        blockButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                console.log('block clicked');
                handleButtonClick(button, true);
            });
        });

        unblockButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                console.log('unblock clicked');
                handleButtonClick(button, false);
            });
        });

        function handleButtonClick(button, isBlocked) {
            console.log(isBlocked);
            const userId = button.getAttribute('data-user-id');
            console.log(userId);

            fetch(isBlocked ? '/blockUserStatus' : '/unblockUserStatus', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    userId: userId,
                    isBlocked: isBlocked,
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    // Toggle button class for styling
                    button.classList.toggle('btn-unmuted');
                    button.classList.toggle('btn-block');
                    const action = isBlocked ? 'blocked' : 'unblocked';
                    console.log(`User ${action} successfully!`);
                    alert(`User ${action} successfully!`);
                } else {
                    const action = isBlocked ? 'block' : 'unblock';
                    console.log(`Failed to ${action} user. Please try again.`);
                    alert(`Failed to ${action} user. Please try again.`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                location.reload()
            });
        }
    });
</script>

<!--search by name-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const userNameSearchInput = document.getElementById('userNameSearchInput');
        const tableRows = document.querySelectorAll('.table tbody tr');

        userNameSearchInput.addEventListener('keyup', function () {
            const searchText = userNameSearchInput.value.trim().toLowerCase();

            tableRows.forEach(function (row) {
                const userName = row.querySelector('td:nth-child(2)').textContent.trim().toLowerCase(); // Assuming name is the second column

                if (userName.includes(searchText) || searchText === '') {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
</script>
<%-include("../adminLayout/adminFooter")    %>

