<%-include("../layouts/header")    %>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>My Orders</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">My Orders</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Order Details Area =================-->
<section class="order_details section_gap">
   

    <div class="container">


        <div class="row order_d_inner">
            <% orders.forEach(item=>{ %>

            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Order Info</h4>
                    <ul class="list">
                        <li><a href="#"><span>Order number</span> : <%= item.orderId %></a></li>
                        <li><a href="#"><span>Date</span> : <%= item.createdAt.toLocaleDateString() %></a></li>
                        <li><a href="#"><span>Total</span> : <%= item.totalPrice %></a></li>
                        <li><a href="#"><span>Payment method</span> : <%= item.paymentIntent %></a></li>
                        <li><a href="#"><span>order Status</span> : <%= item.orderStatus %></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Billing Address</h4>
                    <ul class="list">
                        <li><a href="#"><span>Name</span> : <%= item.address.fullName %></a></li>
                        <li><a href="#"><span>Street</span> : <%= item.address.location %></a></li>
                        <li><a href="#"><span>City</span> : <%= item.address.city %></a></li>
                        <li><a href="#"><span>State</span> : <%= item.address.state %></a></li>
                        <li><a href="#"><span>Pincode </span> : <%= item.address.pinCode %></a></li>
                    </ul>
                </div>
            </div>
            <% }) %>
            
        </div>

        <% orders.forEach((item)=>{  %>
        <% if(item.orderStatus === 'Delivered'){ %>
        <div class="btn-container">
            <a href="" class="btn btn-primary" onclick="downloadinvoice(event,'<%=orderId%>')"><i class="text-muted material-icons" ></i>Download</a><br>
    
        </div>
        <% }else{ %>
            <div class="btn-container">
            </div>
            <% } %>

            <% }) %>




        <div class="order_details_table">


            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% orders.forEach(order => { %>
                                <p>Order ID: <%= order.orderId %></p>
                               
                                        <% order.products.forEach(product => { %>
                                            <tr>
                                                <td><%= product.productId.name %></td>
                                                <td><%= product.quantity %></td>
                                                <td><%= product.total %></td>

                                            </tr>                        
                                        <% }); %>
                                        <tr>
                                        </tr>
                                 
                            <% }); %>
                            
                        
                        </tr>
                        
                       
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</section>
<!--================End Order Details Area =================-->
<%-include("../layouts/footer")    %>
<!--download invoice-->
<script>

    function downloadinvoice(event,orderId) {
        event.preventDefault()
        fetch(`/download-invoice/${orderId}`)
          .then(response => response.blob())
          .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = 'invoice.pdf';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
          })
          .catch(error => console.error('Error downloading orders:', error));
    }
    
    </script>
